@import 'tailwindcss';

@utility task-card{
    @apply bg-[#EFEFEF] rounded-lg p-4 flex flex-row items-center justify-between text-center mx-5 md:mx-20 my-4 hover:bg-gray-300 hover:scale-105 transition-all duration-300 ease-in-out;
}

@utility deleteBtn{
    @apply bg-red-500 text-white py-3 px-6 rounded-lg hover:scale-105 transition-all duration-300 ease-in-out;
}